root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
tab_width = 2
trim_trailing_whitespace = true

[*.css]
indent_size = 4
tab_width = 4

[{*.sass,*.scss}]
tab_width = 4

[{*.ant,*.fxml,*.jhm,*.jnlp,*.jrxml,*.rng,*.tld,*.wsdl,*.xml,*.xsd,*.xsl,*.xslt,*.xul,phpunit.xml.dist}]
indent_size = 4
tab_width = 4

[{*.ats,*.cts,*.mts,*.ts}]
indent_size = 4
tab_width = 4

[{*.ctp,*.hphp,*.inc,*.module,*.php,*.php4,*.php5,*.phtml,application,branch-usage-checker}]
indent_size = 4
max_line_length = 110
tab_width = 4

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,bowerrc,composer.lock,jest.config}]
indent_size = 2
tab_width = 2

[{*.mk,GNUmakefile,makefile}]
tab_width = 4

[{*.tf,*.tfvars}]
tab_width = 4
